<html>
<head>
<title>Persona</title>
</head>


<body>

<form action="persona" method="POST">
		<table>
			<tbody>
				<tr>
					<td>ID</td>
					<td><input type="hidden" name="id" value="{{persona.id_persona}}" />{{persona.id}}</td>
				</tr>
				<tr>
					<td>Nombre</td>
					<td><input type="text" name="nickname" value="{{persona.nombre}}" /></td>
				</tr>
				
			</tbody>
		</table>
		<br>
		<input type="submit" value="Guardar" />
		<input type="button" value="Cancelar" onclick="history.back();" />
	</form>
</body>
</html>



<tr>
		
</tr>