<html>
<head>
<title>Albums</title>
</head>
<body>

	<table class=>
		<thead>
		</thead>
		
		<tbody>
			<tr>
				<th>ID</th>
				<td>{{ album.id }}</td>
			</tr>
			<tr>
				<th>Nombre</th>
				<td>{{ album.nombre }}</td>
			</tr>
			<tr>
				<th>Fecha</th>
				<td>{{ album.fecha }}</td>
			</tr>
			<tr>
				<th>Activo</th>
				<td>{{ album.estado }}</td>
			</tr>
			
			<tr>
				<th>Artista</th>
				<td>{{ album. }}</td>
				<td>{{ album.estado }}</td>
				<td>{{ album.estado }}</td>
				<td>{{ album.estado }}</td>
					
			
					
			</tr>
		
			
		</tbody>
      </table>
      <br />
      <a href="agregar-album">Agregar Nuevo Album</a> | <a href="album">Listar</a>


</body>
</html>