<html>
<head>
<title>Album</title>
</head>
<body>
	<table class=>
		<thead>
			<tr>
				<th>ID</th>
				<th>NOMBRE</th>
				<th>FECHA</th>
				<th>ACTIVO</th>
				<th>ARTISTAID</th>
				
				</tr>
		</thead>
		
		<tbody>
	{% for album in albums %}
			<tr>
				<td>{{ album.id }}</td>
				<td>{{ album.nombre }}</td>
				<td>{{ album.fecha }}</td>
				<td>{{ album.estado }}</td>
				<td>{{ album.artista.id }}</td>
				
				<td><a href="?id={{ album.id }}">Ver</a> 
			</tr>
	{% endfor %}
        </tbody>
      </table>
      
      <br />
      <a href="agregar-album">Agregar Nuevo Album</a>
</body>

</html>