<html>
<head>
<title>Artistas</title>
</head>

<body>
	
	<table class=>
		<thead>
		</thead>
		
		<tbody>
			<tr>
				<th>ID</th>
				<td>{{ artista.id }}</td>
			</tr>
			<tr>
				<th>Nombre</th>
				<td>{{ artista.nombre }}</td>
			</tr>
			<tr>
				<th>Fecha</th>
				<td>{{ artista.fecha }}</td>
			</tr>
			<!--tr>
				<th>Activo</th>
				<td>{{ artista.estado }}</td>
			</tr-->
			
		</tbody>
      </table>
      <br />
      <a href="agregar-artista">Agregar Nuevo Artista</a> | <a href="artista">Listar</a>


</body>
</html>