<html>
<head>
<title>Artistas</title>
</head>
<body>
	<table class=>
		<thead>
			<tr>
				<th>ID</th>
				<th>NOMBRE</th>
				<th>FECHA</th>
				<th>ACTIVO</th>
				</tr>
		</thead>
		
		<tbody>
	{% for artista in artistas %}
			<tr>
				<td>{{ artista.id }}</td>
				<td>{{ artista.nombre }}</td>
				<td>{{ artista.fecha }}</td>
				<td>{{ artista.estado }}</td>
				<td><a href="?id={{ artista.id }}">Ver</a> 
			</tr>
	{% endfor %}
        </tbody>
      </table>
      
      <br />
      <a href="agregar-artista">Agregar Nuevo Artista</a>
</body>

</html>