<html>
<head>
<title>Cancion</title>
</head>

<body>
	
	<table class=>
		<thead>
		</thead>
		
		<tbody>
			<tr>
				<th>ID</th>
				<td>{{ cancion.idCancion }}</td>
			</tr>
			<tr>
				<th>Nombre</th>
				<td>{{ cancion.nombre }}</td>
			</tr>
			<tr>
				<th>Fecha</th>
				<td>{{ cancion.fecha }}</td>
			</tr>
			<tr>
				<th>Activo</th>
				<td>{{ cancion.estado }}</td>
			</tr>
			
		</tbody>
      </table>
      <br />
      <a href="agregar-cancion">Agregar Nueva Cancion</a> | <a href="cancion">Listar</a>

	
</body>
</html>