<html>
<head>

   	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
    
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,900,300' rel='stylesheet' type='text/css'>
    
<title>Playlists</title>


      <script src = "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
      
      <script type="text/javascript">
         function alumnoController($scope,$http) {
            $http.get("alumnos").success( function(response) {
               $scope.alumnos = response;
            });
         }
      </script>
</head>

<body>
	
      <h2 class="pacifico verde text-center">   Contenido   </h2>
<div ng-app="" ng-controller="alumnoController">
	<table class="table table-striped">
		<thead>
		</thead>
		
		<tbody>
			<tr>
				<th>ID</th>
				<td>{{ playlist.idPlaylist }}</td>
			</tr>
			<tr>
				<th>Nombre</th>
				<td>{{ playlist.nombre }}</td>
			</tr>
			<tr>
				<th>Fecha</th>
				<td>{{ playlist.fecha }}</td>
			</tr>
			<tr>
				<th>Activo</th>
				<td>{{ playlist.estado }}</td>
			</tr>
			
		</tbody>
      </table>
</div>      
      <br />
      <a href="agregar-playlist">Agregar Nuevo Playlist</a> | <a href="playlist">Listar</a>

	
</body>
</html>