<html>
<head>
<title>Playlist</title>
</head>

<body>
	
	<table class=>
		<thead>
		</thead>
		
		<tbody>
			<tr>
				<th>ID</th>
				<td>{{ playlist.id }}</td>
			</tr>
			<tr>
				<th>Nombre</th>
				<td>{{ playlist.nombre }}</td>
			</tr>
			<tr>
				<th>Fecha</th>
				<td>{{ playlist.fecha }}</td>
			</tr>
			<tr>
				<th>Activo</th>
				<td>{{ playlist.estado }}</td>
			</tr>
			
		</tbody>
      </table>
      <br />
      <a href="agregar-playlist">Agregar Nuevo Playlist</a> | <a href="playlist">Listar</a>

	
</body>
</html>