<html>
<head>
<title>Usuarios</title>
</head>

<body>
	
	<table class=>
		<thead>
		</thead>
		
		<tbody>
			<tr>
				<th>ID</th>
				<td>{{ usuario.id }}</td>
			</tr>
			<tr>
				<th>Nombre</th>
				<td>{{ usuario.nombre }}</td>
			</tr>
			<tr>
				<th>Nickname</th>
				<td>{{ usuario.nickname }}</td>
			</tr>
			
			<tr>
				<th>Fecha</th>
				<td>{{ artista.fecha }}</td>
			</tr>
			<tr>
			<tr>
				<th>Persona_id</th>
				<td>{{ usuario.persona }}</td>
			</tr>
				<th>Activo</th>
				<td>{{ usuario.estado }}</td>
			</tr>
			
		</tbody>
      </table>
      <br />
      <a href="agregar-usuario">Agregar Nuevo Usuario</a> | <a href="usuario">Listar</a>


</body>
</html>